POSTGRES_USER=REPLACE_user
POSTGRES_PASSWORD=REPLACE_pass
POSTGRES_DB=my_places
DATABASE_URL=postgres://REPLACE_user:REPLACE_pass@localhost:5432/my_places
TEST_DATABASE_URL=postgres://REPLACE_user:REPLACE_pass@localhost:5432/my_places_test
GOOGLE_PLACES_SERVER_SIDE_API_KEY=
VITE_GOOGLE_MAPS_PUBLIC_KEY=

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=http://localhost:3000/api/auth/google/callback
WEB_APP_URL=http://localhost:5173

# Use "openssl rand -hex 32" to generate one
SESSION_SECRET=
ALLOWED_EMAIL=
